img {
  display: block;
  max-width: 100%;
}

.gallery {
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
}

.gallery__img {
  transition: 0.3s ease;
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-width: 100vw;
  object-fit: cover;
}

.nav {
  display: flex;
}

.nav__link:hover > .nav__item {
  background-color: green;
}

#radio-1:checked ~ .nav #bullet-1 {
  background: yellow;
}

#radio-2:checked ~ .nav #bullet-2 {
  background: yellow;
}

#radio-3:checked ~ .nav #bullet-3 {
  background: yellow;
}

#radio-2:checked ~ .gallery #image-1 {
  transform: translateX(-100%);
}
#radio-2:checked ~ .gallery #image-2 {
  transform: translateX(-100%);
}
#radio-2:checked ~ .gallery #image-3 {
  transform: translateX(-100%);
}

#radio-3:checked ~ .gallery #image-1 {
  transform: translateX(-200%);
}
#radio-3:checked ~ .gallery #image-2 {
  transform: translateX(-200%);
}
#radio-3:checked ~ .gallery #image-3 {
  transform: translateX(-200%);
}

/* nav styles  */

.nav {
  grid-column: 2 / 3;
  justify-self: end;
  display: flex;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  cursor: pointer;
}

.nav__item:hover .nav__indicator {
  background: var(--base-hover);
  border-color: var(--base-hover) !important;
}

.nav__indicator {
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  border-radius: 100%;
  background: var(--base-color);
}

/* nav logic  */

#radio-1:checked ~ .nav #bullet-1 .nav__indicator {
  background: transparent;
  border: 5px solid var(--base-color);
}

#radio-2:checked ~ .nav #bullet-2 .nav__indicator {
  background: transparent;
  border: 5px solid var(--base-color);
}

#radio-2:checked ~ .nav #bullet-2 .nav__indicator:hover {
  border: 5px solid var(--base-hover);
}

#radio-3:checked ~ .nav #bullet-3 .nav__indicator {
  background: transparent;
  border: 5px solid var(--base-color);
}
#radio-3:checked ~ .nav #bullet-3 .nav__indicator:hover {
  border: 5px solid var(--base-hover);
}
